/*
 * Copyright (c) 2022 Dan Bostian
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
 keymap {
        compatible =  "zmk,keymap" ;

        default_layer {
            bindings = <
                &lt 1 E &kp M &kp SPACE &kp V           &kp BACKSLASH &kp RIGHT_BRACKET &kp RETURN &kp F9
            >; 
        };

        lower {
            bindings = <
                &trans &none &none &none                                       &none &none &none &bootloader
            >; 
        };
    };
};
